* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  background-color: rgb(243, 202, 126);
}

.left-code-section,
.right-code-section {
  background-color: rgb(230, 205, 214);
  position: fixed;
  min-height: 100vh;
  width: 25%;
}
.left-code-section {
  top: 0%;
  left: 0%;
}

.right-code-section {
  top: 0%;
  right: 0%;
}
#fullpage {
  position: absolute;
  left: 25%;
  width: 50%;
}

.section {
  position: relative;
}
.inner-section-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-scroll-button {
  color: #87e5ff;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  cursor: pointer;
  transition: all 0.25s ease;
}
.timeline-wrapper {
  height: 100vh;
  padding-right: 10px;
  position: fixed;
  top: 0%;
  right: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeline-marker {
  font-size: 4.75rem;
  position: absolute;
  top: 0;
  right: 100%;
  transition: all 0.5s ease;
}
.timeline-marker p {
  line-height: 1;
  margin: 0%;
  padding: 0%;
}
.year-wrapper {
  height: 5.88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.year-wrapper p {
  height: 50%;
  margin-bottom: 0;
}
.year-wrapper img {
  height: 50%;
  padding: 0;
  transform: rotate(90deg);
}
