* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: brockscript;
  src: url('./Assets/fonts/BrockScript.otf');
}
img {
  max-width: 100%;
}
body {
  position: relative;
  text-align: center;
  line-height: 1.25;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: rgb(74, 143, 184);
  background-color: rgb(243, 202, 126);
  background: url(./Assets/media/graphBg.png);
  background-size: contain;
}
h2,
.links > * {
  font-weight: 700;
  color: rgb(44, 107, 144);
}
.left-code-section,
.right-code-section {
  background-color: rgb(3, 54, 83);
  background: url(./Assets/media/codeBg.png);
  background-size: cover;
  background-position: left;
  position: fixed;
  min-height: 100vh;
  width: 20%;
  top: 0%;
}
.left-code-section {
  left: 0%;
}
.right-code-section {
  right: 0%;
}
#fullpage {
  position: absolute;
  left: 20%;
  width: 60%;
}
.section {
  height: 100vh;
  position: relative;
}
.inner-section-div {
  max-height: 100vh;
  width: 80%;
  max-width: 1500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-heading {
  max-width: 850px;
}
.section-info {
  max-width: 600px;
}
.page-scroll-button {
  color: #87e5ff;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  cursor: pointer;
  transition: all 0.25s ease;
}
.timeline-wrapper {
  height: 100vh;
  padding-right: 10px;
  position: fixed;
  top: 0%;
  right: 20%;
  display: flex;
  gap: 0em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}
.timeline-marker {
  position: absolute;
  top: 0;
  right: 65%;
  transition: all 1s ease;
}
#myCanvas {
  transition: stroke-height 0.5s ease-in;
}
.timeline-marker p {
  line-height: 1;
  margin: 0%;
  padding: 0%;
}
.year-wrapper {
  height: 5.88vh;
  font-family: brockscript;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.year-wrapper p {
  height: 50%;
  font-family: brockscript;
  margin-bottom: 0;
  font-size:20px;
}
.year-divider {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .is4 img {
    top: -60%;
  }
}
@media (max-width: 768px) {
  .timeline-wrapper {
    padding-right: 5px;
    font-size: 0.8rem;
  }
  .left-code-section,
  .right-code-section {
    display: none;
  }
  #fullpage {
    left: 0;
    width: 100%;
  }
  .timeline-wrapper {
    right: 0%;
  }
  .is4 img {
    top: -40%;
  }
}
