* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  background-color: rgb(164, 207, 164);
}
.leftCode,
.rightCode {
  position: fixed;
  min-height: 100vh;
  background-color: aliceblue;
  width: 25%;
}
.leftCode {
  top: 0%;
  left: 0%;
}

.rightCode {
  top: 0%;
  right: 0%;
}
#fullpage {
  z-index: 100;
  position: absolute;
  left: 25%;
  width: 50%;
}
